<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cancer Council Queensland - Maps</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Pirata+One" rel="stylesheet">
</head>
<body>
	<article class="map-container">
		<!-- <h2 class="map-header">Here's the map</h2> -->

		<!-- <img src="{{ url_for('static', filename='images/artwork/map.jpg') }}" class="map-img" alt="a pirate map with three ships approaching">
		 -->
		<aside class="map-img"></aside>
		{% if ships_data.resources_allocated < 1	 %}
			{% for ship in ships %}
				<aside class="map-ship ship-position-{{ ship.number }}">
					<ul>
						<li>
							<articleclass="flag-icon {{ ship.nationality }} ">
							</article>
						</li>
						<li>
							<article class="ship-icon {{ ship.type }}">
							</article>
						</li>
					{% if gameMode == 0.0 %}
						<li class="map-risk">
							<b>Risk</b>: Between {{ (ship.min * 100)|int }}% and {{ (ship.max * 100)|int }}%.<br>
							<b>Reward</b>: {{ ship.reward }} doubloons.
						</li>
					{% elif gameMode == 1.0 %}
						<li class="map-risk">
							<b>Risk</b>: {{ (ship.median * 100)|int }}%, give or take {{ (ship.plus_minus * 100)|int }}.<br>
							<b>Reward</b>: {{ship.reward}} doubloons.
						</li>
					{% else %}
						<li class="map-risk">
						 	<b>Risk</b>: from {{ ship.lower_semantic_risk }} to {{ ship.upper_semantic_risk }}.<br>
							<b>Reward</b>: {{ship.reward}} doubloons.
						</li>
					{% endif %}
					</ul>
				</aside>
			{% endfor %}
		</article>
		<footer class="next-state-footer">
			<a href="/risk" class="next-state-button">Let's see how risky it is!</a>
		</footer>

		{% else %}
			{% for ship in ships %}
				<aside class="map-ship ship-position-{{ ship.number }}">
					<ul>
						<li> 
							<article class="flag-icon {{ ship.nationality }} "></article>
						</li>
						<li>
							<article class="ship-icon {{ ship.type }}">
							</article>
						</li>
					{% if gameMode == 0.0 %}
						<li class="map-risk">
							<p>
								<b>Risk</b>: Between {{ (ship.min * 100)|int }}% and {{ (ship.max * 100)|int }}%.
							</p>
							<p>
								<b>Reward</b>: {{ ship.reward }} doubloons.
							</p>
							<p>
								<b>Enemy vessel roll:</b> {{ (100*ship.target)|int }} 
							</p>
							<p>
								<b>Your vessel roll:</b> {{ (100*ship.player_roll)|int }}
							</p>
						</li>
					{% elif gameMode == 1.0 %}
						<li class="map-risk">
							<p>
								<b>Risk</b>: {{ (ship.median * 100)|int }}%, give or take {{ (ship.plus_minus * 100)|int }}.
							</p>>
							<p>
								<b>Reward</b>: {{ship.reward}} doubloons.
							</p>
							<p>
								<b>Enemy vessel roll:</b> {{ (100*ship.target)|int }}
							</p>
							<p>
								Your vessel roll:</b> {{ (100*ship.player_roll)|int }}
							</p>
						</li>
					{% else %}
						<li class="map-risk">
						 	<p>
						 		<b>Risk</b>: from {{ship.lower_semantic_risk}} to {{ship.upper_semantic_risk}}.
						 	</p>
						 	<p>
								<b>Reward</b>: {{ship.reward}} doubloons.<br>
							</p>
							<p>
								<b>Enemy vessel roll:</b> {{ (100*ship.target)|int }} 
							</p>
							<p>
								<b>Your vessel roll:</b> {{ (100*ship.player_roll)|int }}
							</p>
						</li>
					{% endif %}
					</ul>
				</aside>
			{% endfor %}


			<article class="result">
				{% if ships_data.total_reward > 30 %}
					<h3>We made a profit of {{ (ships_data.total_reward - 30)|int }} Doubloons</h3>
				{% else %}
					<h3>You didn't even our money back! You lost us {{ (30 - ships_data.total_reward)|int }} Doubloons.</h3>
				{% endif %}
			</article>
		</article>
		<footer class="next-state-footer">
			<a href="/try_again" class="next-state-button">Try again?</a>
		</footer>
		
	{% endif %}
</body>
</html>