<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link href="https://fonts.googleapis.com/css?family=Pirata+One|Roboto" rel="stylesheet">
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.8/d3.min.js"></script>
   <title>Cancer Council Queensland - Manage your risk</title>
</head>
<body>
   <header></header>
   <article id="resource-container">
      {% for ship in ships %}
      <article class="flag row-{{ ship.number + 1 }} {{ ship.nationality }}">
         <h2>{{ ship.nationality }}</h2>
      </article>
      <article class="ship row-{{ ship.number + 1 }} {{ ship.type }}">
         <h2>{{ ship.type }}</h2>
      </article>
      {% endfor %}
      <article class="allocation row-1">
         <section class="allocation-box value">
            <span class="allocation-feedback " id="allocation-row-1">0</span> Doubloons
         </section>
         <section class="allocation-box add" id="add-1">
            +
         </section>
         <section class="allocation-box reduce" id="reduce-1">-
         </section>
      </article>
      <article class="allocation row-2">
         <section class="allocation-box value">
            <span class="allocation-feedback" id="allocation-row-2">0</span> Doubloons
         </section>
         <section class="allocation-box add" id="add-2">
            +
         </section>
         <section class="allocation-box reduce" id="reduce-2">-
         </section>
      </article>
      <article class="allocation row-3">
         <section class="allocation-box value">
            <span class="allocation-feedback " id="allocation-row-3">0</span> Doubloons
         </section>
         <section class="allocation-box add" id="add-3">
            +
         </section>
         <section class="allocation-box reduce" id="reduce-3">-
         </section>
      </article>

      <article class="allocation row-4">
         <section class="allocation-info">
            <p>
               You have <span id="allocation-info-span">0</span> Doubloons remaining.
            </p>
         </section>
      </article>

      {% for ship in ships %}
         <article class="risk-box row-{{ ship.number + 1 }}">
            <h2>Ship {{ ship.number + 1 }}</h2>

            {% if gameMode == 0.0 %}
               <p>
                  <b>Risk</b>: Between {{ ship.min * 100 }}% and {{ ship.max * 100}}%.
               </p>
               <p>
                  <b>Reward</b>: {{ ship.reward }} doubloons.
               </p>
                {% elif gameMode == 1.0 %}
               <p>
                  <b>Risk</b>: {{ ship.median * 100}}%, give or take {{ ship.plus_minus * 100 }}.
               </p>
               <p>
                  <b>Reward</b>: {{ship.reward}} doubloons.
               </p>
               {% else %}
                  <p>
                     <b>Risk</b>: from {{ship.lower_semantic_risk}} to {{ship.upper_semantic_risk}}.
                  </p>
                  <p>
                     <b>Reward</b>: {{ship.reward}} doubloons.
                  </p>
            {% endif %}
         </article>
      {% endfor %}
   

   </article>
   <footer class="allocation-footer">
   </footer>
   <script type="text/javascript" src="{{ url_for('static', filename='js/resource-allocation.js') }}"></script>
</body>
</html>