* {
	padding: 0px;
	margin: 0px;
}

html {
	background-image: url(images/background/diagonal_waves.png);
}


body {
	max-width: 1250px;
	margin: 0 auto;
	font-size: 16pt;
	background-color: white;
	border: #00447e 3px solid;
	border-top: none;
	border-bottom: none;
	height: 100vh;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: "HelveticaNeue-Light", "HelveticaNeue-Roman", "HelveticaNeue", Arial, sans-serif;
	/*min-width: 720px;*/
	padding: 25px 0px;
}

h1, h2, h3, h4{
	font-family: 'Eczar', serif;
}

h1 {
	font-size: 3em;
}

a {
	text-decoration: none;
	color: #4D90D7;

}


a:hover {
	text-decoration: none;
}


a.next-state-button {
	color: white;
	display: block;
	width: 100%;
}


footer.next-state-footer {
	width: 50%;
	margin-left: 25%;
	background-color: #00447e;
	text-align: center;
	height: 4em;
	line-height: 4em;
	z-index: 2;
}

ul {
	margin-top: 3vh;
}

li {
	margin-top: 1em;
}

span {
	font-weight: bold;
}


p {
	line-height: 1.25em;
	padding-top: .5em;
}


.reminder {
	border: 2px solid red;
	color: red;
}

/*

	index page styling

*/

article.welcome {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;

}
aside.captain-welcome {
	border: 3px solid #FFCF00;
	flex-grow: 3;
	/*float: left;*/
	padding: 1em;
	margin: 2.5%;
	order: 3;
	width: 60%;
}

article.welcome h1 {
	text-align: center;
	width: 100%;
	order: 1;
}

article.welcome h3 {
	padding-top: 1em;
}

#captain-welcome-img {
	float: left;
	flex-grow: 1;
	order: 2;
	width: 20%;
	background-image: url(images/artwork/captain-front-small.png);
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;
}



@media screen and (max-width: 720px) {
	article.welcome h1 {
		order: 2;
		width: 70%;
		line-height: 1em;
		padding-bottom: 1em;
	}

	#captain-welcome-img {
		order: 1;
		margin: 0 2.5%;
	}

	article.welcome h3 {
		line-height: 1em;
	}


}



/*

	map page styling

*/

h2.map-header {
	width: 100%;
	text-align: center;
	z-index: 4;
}


article.map-container {
	position: relative;
	height: 75vh;
	margin: 0 auto;
	font-size: 12pt;
}



article.map-container ul {
	position: relative;
}

article.map-container li {
	display: block;
	list-style: none;
	position: absolute;
	z-index: 2
}

article.map-container li.ship-icon {
	width: 120px;
	height: 75px;
	margin-top: -20px;
}


article.map-container li.flag-icon {
	width: 125px;
	height: 20px;
	top: 16px;
	background-position: top center;
} 

article.map-container li.map-risk {
	text-align: right;
	visibility: hidden; 
	width: 160px;
	right: -30px;
	top: -20px;
	z-index: 5;
}

article.map-container aside.map-img {
	background-image: url(images/artwork/map.jpg); /* placeholder image for now */
	position: relative;
	background-repeat: no-repeat;
	width: 100%;
	height: inherit;
	margin: 0 auto;
	background-size: cover;
	background-position: center top;
	/*min-width: 720px;*/
	max-width: 1250px;
}

article.map-container ul:hover > li.map-risk {
	visibility: visible;
	background-color: white;
	border: .1px solid #FFCF00;
	padding: 1.1em 1.1em;
}


article.map-container li.map-rolls {
	left: 15%;
	top: 2.4em;
	visibility: hidden;
}


article.map-container ul:hover > li.map-rolls {
	visibility: visible;
}

section.result {
	position: absolute;
	bottom: .5em;
	right: 1em;
}



li.British {
	background-image: url(images/flags/british.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

li.Dutch {
	background-image: url(images/flags/dutch.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
li.French {
	background-image: url(images/flags/french.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
li.Spanish {
	background-image: url(images/flags/spanish.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


li.Sloop {
	background-image: url(images/ships/sloop.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

li.Schooner {
	background-image: url(images/ships/schooner.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

li.Cutter {
	background-image: url(images/ships/cutter.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

li.Frigate {
	background-image: url(images/ships/frigate.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


/* Responsive section for correctly scaling the map */

/* mobile */
article.map-container {
	width: 480px;
	height: 265px;
	margin: 0 auto;
}

aside.ship-position-0 {
	position: absolute;
	top: -20px;
	left: 360px;
	z-index: 2;
}

aside.ship-position-1 {
	position: absolute;
	top: 50px;
	left: 385px;
	z-index: 2;
}
aside.ship-position-2 {
	position: absolute;
	top: 150px;
	left: 385px;
	z-index: 2;
}	

/* Header */
h2.map-header {
	position: absolute;
	z-index: 3;
	font-size: 1.75em;
	top: 65px;
	left: -45px;
	color: maroon;
	text-decoration: underline;
	/*font-family: 'Pirata One', cursive;*/
}

/* Captain Text */

article.map-container aside.captain-map {
	position: relative;
	top: -185px;
}

article.map-container aside.captain-map img {
	position: absolute;
	height: 150px;
	top: 40px;
	z-index: 4
}

article.map-container section.captain-dialogue {
	position: absolute;
	width: 88%;
	background: white;
	border: 1px solid #FFCF00;
	padding: .75em .75em;
	left: 30px;
	z-index: 5;
	top: -20px;
	/*visibility: hidden;*/
	opacity: .25; 
}


article.map-container aside.captain-map:hover section.captain-dialogue {
	/*visibility: visible;*/
	opacity: 1;
	transition: all .1s ease-in;
}


article.map-container section.captain-dialogue span.victory-value-span {
	color: darkgreen;
}

article.map-container section.captain-dialogue span.fail-value-span {
	color: red;
}



/* over 720 */
@media screen and (min-width: 720px) {
	article.map-container {
		width: 720px;
		height: 400px;
	}
	aside.ship-position-0 {
		top: 0px;
		left: 600px;
	}

	aside.ship-position-1 {
		top: 100px;
		left: 610px;
	}
	aside.ship-position-2 {
		top: 250px;
		left: 610px;
	}	

	/* Header */
	h2.map-header {
		font-size: 2.25em;
		top: 101px;
		left: -80px;
	}

	/* Captain Text */

	article.map-container aside.captain-map {
		top: -185px;
	}

	article.map-container aside.captain-map img {
		height: 150px;
		top: 40px;
		z-index: 4
	}

	article.map-container section.captain-dialogue {
		width: 88%;
		left: 45px;
		top: -102px;
	}
}


/* over 960 */
@media screen and (min-width: 960px) {
	article.map-container {
		width: 960px;
		height: 530px;
	}
	aside.ship-position-0 {
		top: 0px;
		left: 820px;
	}

	aside.ship-position-1 {
		top: 160px;
		left: 850px;
	}
	aside.ship-position-2 {
		top: 360px;
		left: 850px;
	}	


	/* Header */
	h2.map-header {
		z-index: 3;
		font-size: 2.5em;
		top: 145px;
		left: -110px;
	}

	/* Captain Text */

	article.map-container aside.captain-map {
		top: -185px;
	}

	article.map-container aside.captain-map img {
		height: 150px;
		top: 40px;
		z-index: 4
	}

	article.map-container section.captain-dialogue {
		width: 58%;
		left: 105px;
		top: -70px;
	}

}

/* over 1250 - max width of <body> */
@media screen and (min-width: 1250px) {
	article.map-container {
		width: 1250px;
		height: 690px;
	}
	aside.ship-position-0 {
		top: 20px;
		left: 1060px;
	}

	aside.ship-position-1 {
		top: 220px;
		left: 1100px;
	}
	aside.ship-position-2 {
		top: 480px;
		left: 1100px;
	}	

	/* Header */
	h2.map-header {
		font-size: 3em;
		top: 190px;
		left: -110px;
	}

	/* Captain Text */

	article.map-container aside.captain-map {
		top: -185px;
	}

	article.map-container aside.captain-map img {
		height: 150px;
		top: 40px;
	}

	article.map-container section.captain-dialogue {
		width: 40%;
		left: 120px;
		top: -120px;
	}
}

article.map-container h4 {
	font-size: 1.3em;
}


article.map-container li.result-icon {
	background-size: contain;
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	position: relative;
	left: 50px;
	top: -4px;
	opacity: 1;
	animation-duration: 12s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

article.map-container li.defeat {
    background-image: url(images/artwork/cross.png);
    /* background-color: white; */
    background-position: center;
    background-size: 32px;
    border-radius: 128px;
    z-index: 3;
    top: -8px;
    left: 42px;
}

article.map-container li.victory {
	background-image: url(images/artwork/check.png);
	/* background-color: white; */
	background-position: center;
	background-size: 28px;
	/* border-radius: 128px; */
	width: 40px;
	height: 40px;
	top: 16px;
	z-index: 3;
}

article.map-container aside.ship-position-0 li.result-icon {
	animation-name: map-animation-0;

}
@keyframes map-animation-0 {
	0% 		{opacity: 0;}
	20%		{opacity: 0;}
	40%		{opacity: 1;}
	100%	{opacity: 1;}
}

article.map-container aside.ship-position-1 li.result-icon {
	animation-name: map-animation-1;
}

@keyframes map-animation-1 {
	0% 		{opacity: 0;}
	50%		{opacity: 0;}
	70%		{opacity: 1;}
	100%	{opacity: 1;}
}

article.map-container aside.ship-position-2 li.result-icon {
	animation-name: map-animation-2;
}

@keyframes map-animation-2 {
	0% 		{opacity: 0;}
	80%		{opacity: 0;}
	100%	{opacity: 1;}
}

article.map-container li.battle-icon {
	background-image: url(images/fight/swords.png);
	background-size: contain;
	background-repeat: no-repeat;
	/*opacity: 0;*/
	width: 85px;
	height: 85px;
	position: absolute;
	left: 20px;
	top: -30px;
	opacity: 1;
	animation-duration: 8s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}


article.map-container aside.ship-position-0 li.battle-icon {
	opacity: 0;
	animation-name: battle-animation-0;
	animation-duration: 12s;
	animation-iteration-count: 1;
}

@keyframes battle-animation-0 {
	0%		{opacity: 0;}
	9%		{opacity: 0;}
	10%		{opacity: 1;}
	20%		{opacity: 1;}
	40%		{opacity: 0;}
	100%	{opacity: 0;}
}
article.map-container aside.ship-position-1 li.battle-icon {
	opacity: 0;
	animation-name: battle-animation-1;
	animation-duration: 12s;
	animation-iteration-count: 1;
}

@keyframes battle-animation-1 {
	0%		{opacity: 0;}
	39%		{opacity: 0;}
	40%		{opacity: 1;}
	50%		{opacity: 1;}
	70%		{opacity: 0;}
	100%	{opacity: 0;}
}
article.map-container aside.ship-position-2 li.battle-icon {
	opacity: 0;
	animation-name: battle-animation-2;
	animation-duration: 12s;
	animation-iteration-count: 1;
}

@keyframes battle-animation-2 {
	0%		{opacity: 0;}
	69%		{opacity: 0;}
	70%		{opacity: 1}
	80%		{opacity: 1;}
	100%	{opacity: 0;}
}

aside.captain-result-animation {
	opacity: 1;
	animation-name: captain-animation;
	animation-iteration-count: 1;
	animation-duration: 12s
}

@keyframes captain-animation {
	0%		{opacity: 0;}
	80%		{opacity: 0;}
	100%	{opacity: 1;}
}

#battle-footer {
	opacity: 1;
	animation-name: captain-animation;
	animation-iteration-count: 1;
	animation-duration: 13s;
}


li.enemy-ship-roll {
	font-size: 1.8em;
	font-family: 'Eczar', serif;
	font-weight: bold;
	top: 4px;
	left: 43px;
	/* background: white; */
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	text-shadow: black 1px 1px 3px;
}

li.player-ship-roll {
	font-size: 1.8em;
	font-family: 'Eczar', serif;
	font-weight: bold;
	top: -22px;
	left: 44px;
	/* background: white; */
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	text-shadow: black 1px 1px 2px;

}
article.map-container aside.ship-position-0 li.player-ship-roll {
	opacity: 1;
	animation-name: player-roll-animation-0;
	animation-duration: 12s;
	animation-iteration-count: 1;
}

@keyframes player-roll-animation-0 {
	0%		{opacity: 0;}
	14%		{opacity: 0;}
	15%		{opacity: 1;}
}

article.map-container aside.ship-position-1 li.player-ship-roll {
	opacity: 1;
	animation-name: player-roll-animation-1;
	animation-duration: 12s;
	animation-iteration-count: 1;
}

@keyframes player-roll-animation-1 {
	0%		{opacity: 0;}
	44%		{opacity: 0;}
	45%		{opacity: 1;}
}


article.map-container aside.ship-position-2 li.player-ship-roll {
	opacity: 1;
	animation-name: player-roll-animation-2;
	animation-duration: 12s;
	animation-iteration-count: 1;
}

@keyframes player-roll-animation-2 {
	0%		{opacity: 0;}
	74%		{opacity: 0;}
	75%		{opacity: 1;}
}




/*

	resource allocation page styles

*/


#resource-container {
	display: flex;
	justify-content: space-around;
	align-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	background: white;
	padding: 1vh 1vw;
	align-items: center;
}




article.flag {
	/*background-color: red;*/
	width: 40%;
	margin: 1vh 0vw;
	height: 30vh;
	padding: 1vh 1vw;
}

article.ship {
	/*background-color: purple;*/
	width: 40%;
	margin-top: 1vh;
	height: 30vh;
	padding: 1vh 1vw;

}

article.allocation {
	background-color: white;
	/*border: .5vw solid #FFCF00;*/
	width: 40%;
	margin-top: 1vh;
	height: 10vh;
	padding: 6vh 1vw;

}

article.risk-box {
	background-color: #00447e;
	/*border: .5vw solid #FFCF00;*/
	width: 40%;
	margin-top: 1vh;
	height: 23vh;
	padding: 1vh 1vw;
	color: white;
}

article.risk-box span {
	border-radius: 5px;
	padding: 1px;
}

section.value {
	float: left;
	width: 55%;
	/*background-color: lightgreen;*/
	border: 1px solid #00447e;
	line-height: 4em;
	margin-right: 5%;
	padding-left: 5%;
}

section.add {

	float: right;
	width: 15%;
	/*background-color: white;*/
	text-align: center;
	line-height: 2em;
	/* don't let the user select the + since it's super annoying when you're clicking on it */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


	border: 1px solid #00447e;

}
section.reduce {
	float: right;
	width: 15%;
	/*background-color: pink;*/
	text-align: center;
	line-height: 2em;
	/* don't let the user select the - */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	border: 1px solid #00447e;
}

article.row-1 {
	order: 1;
}

article.row-2 {
	order: 2;
}

article.row-3 {
	order: 3;
}

article.row-4 {
	order: 4;
	/*height:2em;*/
	width: 50%;
	text-align: center;
	/*line-height: 2em;*/
	padding: 1em;
	height: inherit;

}
article.flag h2 {
	text-align: center;
	font-size: 1.5em;
	padding-top: 28vh;
}



article.ship h2 {
	text-align: center;
	padding-top: 28vh;
	font-size: 1.5em;
}




@media screen and (min-width: 920px) {

	article.flag {
		width: 20%;
		height: 20vh;
	}


	article.ship {
		width: 20%;
		height: 20vh;
		padding: 3vh 1vw;

	}


	article.allocation {
		width: 25%;
	}

	article.risk-box {
		width: 18%;
		height: 23vh;
	}


	article.row-1 {
		order: 1;
	}

	article.row-2 {
		order: 2;
	}

	article.row-3 {
		order: 3;
	}

	article.row-4 {
		order: 4;
		/*height:2em;*/
		width: 50%;
		text-align: center;
		/*line-height: 2em;*/
		padding: 1em;
		height: inherit;

	}
	
	article.flag h2 {
		text-align: center;
		font-size: 1.5em;
		padding-top: 20.25vh;
	}

	article.ship h2 {
		text-align: center;
		padding-top: 15vh;
		font-size: 3vh;
	}


}
article.row-4 p {
	line-height: 2em;
	padding-top: 0;
}



section.allocation-box {
	color: #00447e;
}

section.allocation-box-five {
	color: #00447e;
}




/* Flag backgrounds in column 1 */
article.British {
	background-image: url(images/flags/british.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.Dutch {
	background-image: url(images/flags/dutch.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
article.French {
	background-image: url(images/flags/french.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
article.Spanish {
	background-image: url(images/flags/spanish.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}



/* Ship column */

article.Sloop {
	background-image: url(images/ships/sloop.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.Schooner {
	background-image: url(images/ships/schooner.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.Cutter {
	background-image: url(images/ships/cutter.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.Frigate {
	background-image: url(images/ships/frigate.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}



