<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cancer Council Queensland - Pirate Game Home</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Eczar|Pirata+One" rel="stylesheet">
<body>
	<header></header>
	<article class="welcome">
		<aside class="captain-welcome">
			<h2>Ahoy there!</h2>
			<p>
				How confident do you feel that you chose well?
			</p>		
			<section class="form-container">
				<form action="/decision_conf_submit" method="post">
					<p>Are ye: <br>
						<input type="radio" name=conf value="very" required>   Very Confident<br>
						<input type="radio" name=conf value="avg" required>   Confident<br>
						<input type="radio" name=conf value="not" required>   Unsure<br>
						<input type="radio" name=conf value="vnot" required>   Very Unsure<br>
					</p>

					<input type="submit" name="Submit" class="submit" value="Continue">
				</form>
			</section>
		</aside>

	</article>

</body>
</html>