<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cancer Council Queensland - Pirate Game Ethics Information</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Eczar|Pirata+One" rel="stylesheet">
<body>
	<div class=PlainBox>

<table border=1 cellspacing=0 cellpadding=0
 style='margin-left:5.4pt;border-collapse:collapse;border:none;
 border-collapse:collapse;
 border:none;'>
 <tr style='height:26.5pt;' >
  <td width=227 style='width:6.0cm;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;

  padding:0cm 5.4pt 0cm 5.4pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;
  border-right:none;
  ;padding:0cm 5.4pt 0cm 5.4pt;
  height:26.5pt'>
  <p style='margin-right:-5.4pt'><span 
  style='font-family:"Calibri",sans-serif;'><a
  href="http://www.qut.edu.au/"><span style='text-decoration:none;text-underline:none'><img border=0 width=218 height=31
  src="01_F_ETH_Info-Consent_Online%20Game_V2_20162012.National%20Cancer%20Atlas_files/image002.jpg"
  alt="Queensland University of Technology, Brisbane Australia" v:shapes="Picture_x0020_13"></span></a></span><span
   style='font-size:1.0pt;font-family:"Calibri",sans-serif;'></span></p>
  </td>
  <td width=482 style='width:361.5pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;

  padding:0cm 5.4pt 0cm 5.4pt;height:26.5pt'>
  <p align=center style='text-align:center'><b><span
   style='font-family:"Calibri",sans-serif;'>PARTICIPANT INFORMATION FOR QUT RESEARCH
  PROJECT</span></b></p>
  <p align=center style='text-align:center'><b><span
   style='font-family:"Calibri",sans-serif;'>– </span></b><b><span  style='font-family:"Calibri",sans-serif;'>Online Game –</span></b><b><span
   style='font-size:9.0pt;font-family:"Calibri",sans-serif;'></span></b></p>
  </td>
 </tr>
 <tr style='height:5.6pt;' style='height:5.6pt'>
  <td width=709 colspan=2 style='width:531.6pt;border:solid windowtext 1.0pt;
  ;padding:0cm 5.4pt 0cm 5.4pt;border:solid windowtext 1.0pt;
  ;padding:0cm 5.4pt 0cm 5.4pt;
  height:5.6pt'>
  <p align=center style='text-align:center'><b
 ><span  style='font-size:6.0pt;
  ;font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>
  <p align=center style='text-align:center'><b
 ><span  style='font-size:14.0pt;
  ;font-family:"Calibri",sans-serif'>Communication of
  Scientific Uncertainty to Non-expert Audiences</span></b></p>
  <p align=center style='text-align:center'><b
 ><span  style='font-size:6.0pt;
  ;font-family:"Calibri",sans-serif'>&nbsp;</span></b></p>
  <p align=center style='text-align:center'><b
 ><span  style='font-family:"Calibri",sans-serif'>QUT
  Ethics Approval Number </span></b><span  style='font-size:15.0pt;
  font-family:"Calibri",sans-serif'>1500000917</span><b><span 
  style='font-family:"Calibri",sans-serif'></span></b></p>
  </td>
 </tr>
</table>

<p style='text-align:justify'><span 
style='font-family:"Calibri",sans-serif;
color:black'>&nbsp;</span></p>

<p style='tab-stops:120.5pt;background:
#D9D9D9'><b><span style='font-family:"Calibri",sans-serif;
;text-transform:uppercase;'>RESEARCH
TEAM <span>                  </span></span></b><span
 style='font-family:"Calibri",sans-serif;color:black'></span></p>

<table border=0 cellspacing=0 cellpadding=0 width=723
 style='width:542.3pt;border-collapse:collapse;'>
 <tr >
  <td width=140 valign=top style='width:104.65pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p ><span  style='font-family:"Calibri",sans-serif;'>Principal Researcher:</span></p>
  </td>
  <td width=584 valign=top style='width:437.65pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p ><span ><span  style='font-family:
  "Calibri",sans-serif;'>Dr</span></span><span
   style='font-family:"Calibri",sans-serif;'>
  Kerrie Mengersen , Professor, SEF, QUT &amp; Peter Baade, Adjunct Professor,
  QUT/Cancer Council QLD </span></p>
  <p ><span  style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=140 valign=top style='width:104.65pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p ><span  style='font-family:"Calibri",sans-serif;'>Associate Researcher:</span></p>
  </td>
  <td width=584 valign=top style='width:437.65pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p ><span  style='font-family:"Calibri",sans-serif;'>Jessie Roberts, Masters Research
  student, QUT; <span> </span>Joanne Aitken, Adjunct
  Professor, QUT/ Cancer Council QLD; Susanna <span >Cramb</span>,
  Research Associate, Cancer Council QLD; Fiona Harden, Senior Lecturer, QUT,
  Phillip Gough, Nicholas Dendle. </span></p>
  </td>
 </tr>
 <tr style='height:10.8pt'>
  <td width=140 valign=bottom style='width:104.65pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:10.8pt'>
  <p ><span  style='font-family:"Calibri",sans-serif;'>&nbsp;</span></p>
  </td>
  <td width=584 valign=top style='width:437.65pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:10.8pt'>
  <p ><b><span 
  style='font-family:"Calibri",sans-serif;'>[SEF]</span></b><b
 ><span  style='font-family:"Calibri",sans-serif;'>, Queensland University of Technology (QUT)</span></b><b
 ><span  style='font-family:"Calibri",sans-serif;'></span></b></p>
  </td>
 </tr>
</table>

<p style='text-align:justify'><span 
style='font-family:"Calibri",sans-serif;
color:black'>&nbsp;</span></p>

<p style='background:#D9D9D9'><b
><span style='font-family:"Calibri",sans-serif;
;text-transform:uppercase;'>Description<span
></span></span></b></p>

<p style='text-align:justify'><span 
style='font-family:"Calibri",sans-serif;'>This
project is being undertaken as part of Masters Research study for Jessie
Roberts.<span>  </span><span
> </span>The purpose of this project is </span><span
style='font-family:"Calibri",sans-serif;'>evaluate effectiveness of different methods of
presenting statistical information to non-expert audiences. <span
> </span><span> </span></span><span
 style='font-family:"Calibri",sans-serif;'>Any
members of the general public that are over 18 <span >yrs</span> of
age are invited to participate in this research. <span style='color:black'></span></span></p>

<p style='background:#D9D9D9'><b
><span style='font-family:"Calibri",sans-serif;
;color:black;text-transform:uppercase;'>Participation</span></b></p>

<p style='text-align:justify'><span 
style='font-family:"Calibri",sans-serif;'>Your
participation will involve playing an online game. In the game you are a pirate
of the sea and will be asked to allocate gold bullion, for resources and
ammunition, in order to maximize your chance of winning against another ship. <span
> </span></span></p>

<p style='text-align:justify'><span style='font-family:"Calibri",sans-serif;
;color:blue;'>&nbsp;</span></p>

<p ><span style='
font-family:"Calibri",sans-serif;color:black;'>Your personal information is not recorded in the
process of participating in this game. At the end of the game you will be asked
some additional information, this information is not identifiable in any way. Your
partici</span><span style='font-family:"Calibri",sans-serif;
;'>pation in this game is
entirely voluntary. If you do agree to participate you can withdraw from the game
without comment or penalty. </span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>&nbsp;</span></p>

<p style='background:#D9D9D9'><b><span
style='font-family:"Calibri",sans-serif;
text-transform:uppercase;'>Expected benefits</span></b></p>

<p ><span 
style='font-family:"Calibri",sans-serif;color:black'>This research will also contribute to the wider field of
science communication by furthering our understanding of how to effectively <span
>visualise</span> and communicate the reliability and uncertainty
of scientific information to non-expert decision-makers. </span><span
 style='font-family:"Calibri",sans-serif;'></span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>&nbsp;</span></p>

<p style='background:#D9D9D9'><b><span
style='font-family:"Calibri",sans-serif;
text-transform:uppercase;'>Risks</span></b></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>We do not anticipate this game to trigger any emotional stress and does
not represent any physical risks to participants. </span><span 
style='font-family:"Calibri",sans-serif;'></span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>&nbsp;</span></p>

<p style='background:#D9D9D9'><b><span
style='font-family:"Calibri",sans-serif;
text-transform:uppercase;'>PRIVACY AND Confidentiality</span></b></p>

<p style='text-align:justify'><span style='font-family:"Calibri",sans-serif;
;'>The names of individual
persons are not required to participate in this game and no identifiable
information will be collected. </span><span  style='font-family:"Calibri",sans-serif;
;letter-spacing:-.2pt'>All data collected as part
of this project will be stored securely as per QUT’s Management of research
data policy.</span><span  style='font-family:"Calibri",sans-serif;
;color:red'></span></p>

<p style='text-align:justify'><span 
style='font-family:"Calibri",sans-serif;'>The
project is funded by the, Cancer Council Queensland, QUT IMPACT
Philanthropy,<span>  </span>and the Australian
Institute of Health and Well-Being (AIHW). QUT the Cancer Council QLD and AIHW
will have access to the data obtained during the project. No data gathered
throughout the game will contain any personal identifying information. </span></p>

<p style='text-align:justify'><span>&nbsp;</span></p>

<p style='margin-left:0cm'><span
style='font-family:"Calibri",sans-serif;'>Please note that
non-identifiable data extracted from the game may be used as comparative data
in future projects or stored on an open access database for secondary analysis.</span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>&nbsp;</span></p>

<p style='background:#D9D9D9'><b
><span style='font-family:"Calibri",sans-serif;
;text-transform:uppercase;'>Consent
to Participate</span></b><span style='font-family:"Calibri",sans-serif;
;'></span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>By selecting ‘I consent to participating in this research’ you confirm
your agreement to participate.</span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>&nbsp;</span></p>

<p style='background:#D9D9D9'><b><span
style='font-family:"Calibri",sans-serif;
text-transform:uppercase;'>Questions / further
information about the project</span></b></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>If you have any questions or require further information, please contact
one of the research team members below.</span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>&nbsp;</span></p>

<table border=0 cellspacing=0 cellpadding=0 width=723
 style='width:542.3pt;border-collapse:collapse;'>
 <tr >
  <td width=362 valign=bottom style='width:271.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p ><span  style='font-family:"Calibri",sans-serif;'>Jessie Roberts – Research Associate </span></p>
  </td>
  <td width=362 valign=bottom style='width:271.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p ><span  style='font-family:"Calibri",sans-serif;'>Kerrie Mengersen – Professor </span></p>
  </td>
 </tr>
 <tr>
  <td width=362 valign=bottom style='width:271.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p style='tab-stops:44.25pt'><span 
  style='font-family:"Calibri",sans-serif;'>+61
  7 3138 6982</span></p>
  </td>
  <td width=362 valign=bottom style='width:271.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p style='tab-stops:44.25pt'><span 
  style='font-family:"Calibri",sans-serif;'>+61
  7 3138 2063</span></p>
  </td>
 </tr>
 <tr>
  <td width=362 valign=bottom style='width:271.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p style='tab-stops:44.25pt'><span 
  style='font-family:"Calibri",sans-serif;
  color:red'><a href="mailto:Jessie.roberts@qut.edu.au">Jessie.roberts@qut.edu.au</a></span><span
   style='font-family:"Calibri",sans-serif;
  color:blue'></span></p>
  </td>
  <td width=362 valign=bottom style='width:271.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p style='tab-stops:44.25pt'><span 
  style='font-family:"Calibri",sans-serif;
  color:blue'><a href="mailto:k.mengersen@qut.edu.au">k.mengersen@qut.edu.au</a></span></p>
  </td>
 </tr>
 <tr >
  <td width=362 valign=bottom style='width:271.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p style='tab-stops:44.25pt'><span 
  style='font-family:"Calibri",sans-serif;
  color:blue'>&nbsp;</span></p>
  </td>
  <td width=362 valign=bottom style='width:271.15pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p style='tab-stops:44.25pt'><span 
  style='font-family:"Calibri",sans-serif;
  color:blue'>&nbsp;</span></p>
  </td>
 </tr>
</table>

<p style='background:#D9D9D9'><b><span
style='font-family:"Calibri",sans-serif;
text-transform:uppercase;'>Concerns / complaints
regarding the conduct of the project</span></b></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>QUT is committed to research integrity and the ethical conduct of
research projects.<span>  </span>However, if you do
have any concerns or complaints about the ethical conduct of the project you
may contact the QUT Research Ethics Unit on </span><span 
style='font-family:"Calibri",sans-serif;'>[+61 7]</span><span  style='
font-family:"Calibri",sans-serif;'> </span><span style='font-family:"Calibri",sans-serif;
;'>3138 5123 or email <a
href="mailto:ethicscontact@qut.edu.au">ethicscontact@qut.edu.au</a>. The QUT Research
Ethics Unit is not connected with the research project and can facilitate a
resolution to your concern in an impartial manner.</span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>&nbsp;</span></p>

<p ><span style='
font-family:"Calibri",sans-serif;'>&nbsp;</span></p>

<p align=center style='text-align:center'><b><i><span  style='font-size:11.0pt;
font-family:"Calibri",sans-serif;'>Thank you for
helping with this research project.<span>  </span></span></i></b><b
><span  style='font-size:14.0pt;
;font-family:"Calibri",sans-serif;'></span></b></p>

</div>
	<footer class="next-state-footer" id="welcome-footer"><a href="/ethics?accept=1" class="next-state-button">I consent to participating in this research</footer>
</body>
</html>