<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cancer Council Queensland - Pirate Game Home</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Eczar|Pirata+One" rel="stylesheet">
<body>
	<header></header>
	<article class="welcome">
	{% if session['game_number'] == 0 %}
		<h1>Welcome, shipmate!</h1>
		<aside class="captain-welcome">
			<p>
				I'm Captain MathBeard. I've got some good news for you, especially since my last quartermaster decided to run off with a mermaid. 
			</p>
			<h3>
				Congratulations on your promotion to quartermaster! 
			</h3>
			<p>
				I have some news from our spies. Cast your good eye over this here map...
			</p>		
		</aside>
	{% else %}
		<h1>Aye, quatermaster!</h1>
		<aside class="captain-welcome">
			{% if session['dial_log'] < 0.5 %}
			<p>
				Ye' be ready for another challenge?
			</p>
			<p>
				The scouts are back from Ye Olde Mappe Shoppe. Here's what's about...
			</p>	
			{% else %}
			<p>
				We be piratin' again. Ye ready to make our plan?
			</p>
			{% endif %}
		</aside>
	{% endif %}
		<aside id="captain-welcome-img"></aside>
	</article>
	<footer class="next-state-footer" id="welcome-footer">
	{% if session['training_query'] == True %}
		<a href="/map" class="next-state-button">Check out the map</a>
	{% else %}
		<div width="100%">
			<div style="width:48%; padding:2px; display:inline; border:#FFFFFF 2px solid"><a href="/untrained" class="next-state-button-choice">I am ready!</a></div>
			<div style="width:48%; padding:2px; display:inline; border:#FFFFFF 2px solid"><a href="/trained" class="next-state-button-choice">I have statistical training.</a></div>
		</div>
	{% endif %}
	</footer>
</body>
</html>