<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cancer Council Queensland - Pirate Game Home</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Eczar|Pirata+One" rel="stylesheet">
<body>
	<header></header>
	<article class="welcome">
		<aside class="captain-welcome">
			<img src="{{ url_for('static', filename='images/artwork/captain-happy-small.png') }}" alt="Captain thanks you" class="thankyou-captain">
			<h4>
				Thank ye, yer survey be submitted. We're ta bury them on yonder island, don't ask me why...
			</h4>
		</aside>
	</article>
	<footer class="next-state-footer" id="welcome-footer"><a href="/" class="next-state-button">Let's get back to fightin'</a><a
  href="https://cancerqld.org.au/"><span style='text-decoration:none;text-underline:none'><img style="border-style: solid;
    border-width: 12px; border-color: #FFFFFF; height: 100%;"
  src="{{ url_for('static', filename='images/ccq/CCQ_RGB.jpg') }}"
  alt="Cancer Council Queensland, Brisbane Australia"></span></a></footer>
</body>
</html>