* {
	padding: 0px;
	margin: 0px;
}

html {
	background-image: url(images/background/diagonal_waves.png);
}


body {
	max-width: 1250px;
	margin: 0 auto;
	font-size: 16pt;
	background-color: white;
	border: #00447e 3px solid;
	border-top: none;
	border-bottom: none;
	height: 100vh;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: "HelveticaNeue-Light", "HelveticaNeue-Roman", "HelveticaNeue", Arial, sans-serif;
	min-width: 640px;
	padding: 25px 0px;
}

h1 {
	font-family: 'Pirata One', cursive;
}


a {
	text-decoration: none;
	color: #4D90D7;

}


a:hover {
	text-decoration: 
}


a.next-state-button {
	color: white;
	display: block;
	width: 100%;
}


footer.next-state-footer {
	width: 50%;
	margin-left: 25%;
	background-color: #00447e;
	text-align: center;
	height: 4em;
	line-height: 4em;

}

ul {
	margin-top: 3vh;
}

li {
	margin-top: 1em;
}

span {
	font-weight: bold;
}


/*

	index page styling

*/





/*

	map page styling

*/


article.map-container {
	background-image: url(images/map/textured_paper/textured_paper.png); /* placeholder image for now */
	position: relative;
	background-repeat: repeat;
	width: 95%;
	height: 70vh;
	margin: 0 auto;

}

article.map-container ul {
	position: relative;
	font-size: 12pt;
}

article.map-container li {
	display: block;
	list-style: none;
	position: absolute;
}

article.map-container li.ship-icon {
    width: 21%;
    height: 2em;
    margin-top: .75em;
}


article.map-container li.flag-icon {
    width: 21%;
    height: 1em;
    top: 1.2em;
} 

article.map-container li.map-risk {
	left: 15%;
	visibility: hidden;
}


article.map-container ul:hover > li.map-risk {
	visibility: visible;
}


article.map-container li.map-rolls {
	left: 15%;
	top: 2.4em;
	visibility: hidden;
}


article.map-container ul:hover > li.map-rolls {
	visibility: visible;
}


aside.ship-position-0 {
	margin-left: 60%;
}

aside.ship-position-1 {
	margin-left: 60%;
	margin-top: 14em;
}
aside.ship-position-2 {
	margin-top: 23em;
	margin-left: 40%;
}


li.British {
	background-image: url(images/flags/british.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

li.Dutch {
	background-image: url(images/flags/dutch.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
li.French {
	background-image: url(images/flags/french.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
li.Spanish {
	background-image: url(images/flags/spanish.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


li.Sloop {
	background-image: url(images/ships/sloop.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

li.Schooner {
	background-image: url(images/ships/schooner.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

li.Cutter {
	background-image: url(images/ships/cutter.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

li.Frigate {
	background-image: url(images/ships/frigate.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}



/*

	resource allocation page styling

*/


#resource-container {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
	background: white;
	padding: 1vh 1vw;
	align-items: center;
}



article.flag {
	/*background-color: red;*/
	width: 20%;
	margin: 1vh 0vw;
	height: 20vh;
	padding: 1vh 1vw;

}

article.ship {
	/*background-color: purple;*/
	width: 20%;
	margin-top: 1vh;
	height: 20vh;
	padding: 1vh 1vw;

}

article.allocation {
	background-color: white;
	/*border: .5vw solid #FFCF00;*/
	width: 25%;
	margin-top: 1vh;
	height: 10vh;
    padding: 6vh 1vw;

}

article.risk-box {
	background-color: #00447e;
	/*border: .5vw solid #FFCF00;*/
	width: 18%;
	margin-top: 1vh;
	height: 20vh;
	padding: 1vh 1vw;
	color: white;
}

section.value {
	float: left;
	width: 70%;
	/*background-color: lightgreen;*/
	border: 1px solid #00447e;
	line-height: 4em;
	margin-right: 5%;
	padding-left: 5%;
}

section.add {

	float: right;
	width: 15%;
	/*background-color: white;*/
	text-align: center;
	line-height: 2em;
	/* don't let the user select the + since it's super annoying when you're clicking on it */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    border: 1px solid #00447e;

}
section.reduce {
	float: right;
	width: 15%;
	/*background-color: pink;*/
	text-align: center;
	line-height: 2em;
	/* don't let the user select the - */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: 1px solid #00447e;
}

article.row-1 {
	order: 1;
}

article.row-2 {
	order: 2;
}

article.row-3 {
	order: 3;
}

article.row-4 {
    order: 4;
    height: 2em;
    width: 50%;
    text-align: center;
    line-height: 2em;
    padding: 1vh;
}



section.allocation-box {
	color: #00447e;
}




/* Flag backgrounds in column 1 */
article.British {
	background-image: url(images/flags/british.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.Dutch {
	background-image: url(images/flags/dutch.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
article.French {
	background-image: url(images/flags/french.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
article.Spanish {
	background-image: url(images/flags/spanish.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.flag h2 {
    text-align: center;
    font-size: 2vh;
    padding-top: 20vh;
}


/* Ship column */

article.Sloop {
	background-image: url(images/ships/sloop.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.Schooner {
	background-image: url(images/ships/schooner.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.Cutter {
	background-image: url(images/ships/cutter.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.Frigate {
	background-image: url(images/ships/frigate.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

article.ship h2 {
	text-align: center;
    padding-top: 15vh;
    font-size: 3vh;
}




